<h2><%= l(:msproject) %></h2>

<% form_for :ms_project, :url => {:action => 'select', :project_id => @project }, :method => :post, :html => { :multipart => true } do |f| %>
<%= file_field :file, :msproject %>
<%= submit_tag l(:button_read), :name => 'read', :onclick => "javascript: $('ajax-indicator').style.display = 'block';" %>
<% end %>

<% if @added_tasks.size > 0 %>
  <%= l(:msp_read_message, @added_tasks.size) %>
<% end %>

<div style="clear: both;"/>
